 @using System.Collections.Generic  
 @model List<Student>  

 <h1>All Students</h1>  
 <table class="table">  
     <thead>  
         <tr>  
             <th scope="col">SSN</th>  
             <th scope="col">Name</th>  
             <th scope="col">Age</th>  
             <th scope="col">Address</th>  
             <th scope="col">Email</th>  
             <th scope="col">Image</th>  
         </tr>  
     </thead>  
     <tbody>  
         @foreach (var student in Model)  
         {  
             <tr>  
                 <th scope="row">@student.SSN</th>  
                 <td>@student.Name</td>  
                 <td>@student.Age</td>  
                 <td>@student.Address</td>  
                 <td>@student.Email</td>
                <td>@student.Image</td>
            </tr>
        }
    </tbody>  
 </table>
